---
import Github from "./icons/Github.astro";
import Gmail from "./icons/Gmail.astro";
import LinkedIn from "./icons/LinkedIn.astro";

---

<section class="flex justify-center mt-16">
    <ul class="flex flex-row space-x-10">
        <li><a  target="_blank" href="https://www.linkedin.com/in/samuel-gauna-757543239/"><LinkedIn ></LinkedIn></a></li>
        <li><a target="_blank" href="https://github.com/SamuGauna"><Github></Github></a></li>
        <li><a target="_blank" href="mailto:samuelgauna7@gmail.com"><Gmail></Gmail></a></li>
    </ul>
</section>
<section class="flex justify-center mt-8">
    <a href="/cv_samuel_gauna.pdf" download class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
        Descargar CV
    </a>
</section>
<section class="flex flex-col justify-center  mt-8 items-center	">
    <p class="font-semibold mb-4">Visitor count</p>
    <img width="256" height="256" src="https://profile-counter.glitch.me/hola123/count.svg" alt="Visitor Count">
</section>
