---
import Badge from "./utils/Badge.astro";
import Work from "./icons/Work.astro";
---

<section
  id="exp"
  class="text-white mx-auto pt-10 w-full xss:w-4/5 xs:w-7/8 sm:w-11/12 md:w-10/12 lg:w-8/12 xl:w-7/12"
>
  <div class="flex flex-row justify-center my-8 text-2xl">
    <Work />
    <h1 class="ml-4">Experiencia laboral</h1>
  </div>
  <ol
    class="relative border-s border-gray-200 dark:border-gray-700 mx-auto px-4 sm:px-6 lg:px-8"
  >
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >Julio 2024<div class="my-2"><Badge>Actualmente</Badge></div></time
      >
      <h3
        class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold text-yellow-200 mb-2"
      >
        Backend Developer - Developer Latam
      </h3>
      <p
        class="text-sm sm:text-base md:text-lg lg:text-xl font-normal text-gray-500 dark:text-gray-400"
      >
        Soy parte de un equipo diverso que incluye diseñadores UX/UI,
        desarrolladores frontend, y nuestro CTO, quien también se encarga de las
        tareas de DevOps. Nos apoyamos en la metodología Scrumban y gestionamos
        nuestro trabajo con GitFlow. Mi enfoque principal es el desarrollo
        backend con NestJS y TypeScript. Me encargo de darle vida al backend de
        nuestras soluciones de software a medida, especialmente en proyectos
        web. Disfruto resolviendo los desafíos que surgen en cada proyecto y
        asegurándome de que cada solución que entregamos sea sólida y se adapte
        perfectamente a lo que nuestros clientes realmente necesitan.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >Julio 2023</time
      >
      <h3
        class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold text-yellow-200 mb-2"
      >
        Full stack Developer / Integración de Sistemas - Mi asesor.cl
      </h3>
      <p
        class="text-sm sm:text-base md:text-lg lg:text-xl font-normal text-gray-500 dark:text-gray-400"
      >
        Desempeñe un papel como desarrollador tanto en el Frontend como en el
        Backend, encargado de diseñar, desarrollar y mantener una variedad de
        aplicaciones web y microservicios que abarcan desde la gestión contable
        hasta la automatización de procesos. Mi rol abarca muchas areas, aunque
        mas especializado en el area del Backend y tengo una participación
        importante en la integración de sistemas, asegurando que las diferentes
        partes de la infraestructura tecnológica de la empresa funcionen de
        manera cohesiva y eficiente.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >Enero 2023</time
      >
      <h3
        class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold text-yellow-200 mb-2"
      >
        QA & Js/Py Developer - Freelance
      </h3>
      <p
        class="text-sm sm:text-base md:text-lg lg:text-xl font-normal text-gray-500 dark:text-gray-400"
      >
        Trabaje en conjunto con un Desarrollador Full Stack SR, es mi primera
        experiencia laboral. Mi tarea fue asistir en lo que se necesitara. Ayude
        a realizar tareas de testing unitario, testing automatizado con
        Selenium, consumir diferentes apis de datos y metricas, realizando la
        logica con Javascript. Trabaje mayormente en una Arquitectura
        Monolítica. Donde el backend estaba hecho con Django y las graficas a
        los que tenia que brindarle la logica estaba hecha con plotly.
      </p>
    </li>
  </ol>
</section>
