<footer class="flex justify-center">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="flex justify-center">
            <div class="flex flex-col items-center mb-6 md:mb-0">
                <div class="flex flex-row gap-1 justify-center items-center w-auto bg-transparent dark:bg-transparent px-4 py-4 shadow-xl rounded-lg">
                    <p class="font-semibold text-xl text-white mx-2 mr-8 whitespace-nowrap">Powered by</p>
                    <div class="flex flex-row gap-2">
                        <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">#Astro</p>
                        <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">#Tailwindcss</p>
                        <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">#Flowbite</p>
                        <p class="px-3 py-1 text-[12px] bg-[#d9dfe3] max-w-max rounded font-semibold text-[#7281a3]">#uiverse</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    </div>
</footer>

