---
import Badge from "./utils/Badge.astro";
---
<div  id="top" class="flex items-center w-full mx-auto lg:w-[700px] mt-10">
    <section class="flex flex-row items-center">
        <section class="m-10 w-30 h-30 flex-shrink-0"> <!-- Mantén el tamaño fijo y añade flex-shrink-0 para evitar que la imagen se haga más pequeña -->
            <img class="rounded-full w-full h-full object-cover" src="/public/perfil.png" alt="image description perfil">
        </section>
        <main class="ml-4 w-auto"> <!-- Añade un margen izquierdo para separar la imagen del contenido principal -->
            <h1 class="text-white text-5xl font-bold pb-4">¡Hola!, Soy Samu</h1>
            <h2 class="text-xl ml-16 mt-2 mb-2">{`< Back end Developer & QA />`}</h2>
            <p class=" text-gray-500 text-center mt-8">En mi segundo año de experiencia laboral, +3 programando. De Mendoza, Argentina. Siempre sacando oportunidades de los problemas y divirtiéndome en el camino a ser un líder de equipo!.</p>
        </main>
    </section>
</div>


