---
interface Props {
	title: string;
}
import '@fontsource-variable/onest';

import Header from '../components/Header.astro'
import Contacto from '../components/Contacto.astro';
import Presentacion from '../components/Presentacion.astro';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
import Projects from '../components/projects/Projects.astro';
import ProjectsTesting from '../components/projects/ProjectsTesting.astro';
import SkillTech from '../components/SkillTech.astro';
import Habilidades from '../components/Habilidades.astro';
import Test from '../components/Test.astro'
import ThanksCard from '../components/ThanksCard.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio Samuel Gauna - Desarrollador y Programador Web</title>
	</head>
	<body class="container">
		<Header/>
		<Presentacion></Presentacion>
		<Contacto></Contacto>
		<Test></Test>
		<Experience ></Experience>
		<Projects></Projects>
		<ProjectsTesting></ProjectsTesting>
		<ThanksCard></ThanksCard>
		<Footer></Footer>
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		margin: 0;
		padding: 0;
		width: 100%;
		overflow-x: hidden;
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	.container {
	width: 100%;
	height: 100%;
	color: aliceblue;
	display: flex;
	flex-direction: column;
	background-image: radial-gradient(70% 70% at 40% 50%, #000 50%, #63e 100%);
	}
</style>
