---
interface Props {
	title: string;
}
import '@fontsource-variable/onest';
import Header from '../components/Header.astro'
import Contacto from '../components/Contacto.astro';
import Presentacion from '../components/Presentacion.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio Samuel Gauna - Desarrollador y Programador Web</title>
	</head>
	<body>
		<Header/>
		<Presentacion></Presentacion>
		<Contacto></Contacto>
		<Experience></Experience>
		<Projects></Projects>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Onest Variable',system-ui, sans-serif;
	}
	body{
		background-color: #050505;
		display: flex;
		flex-direction: column;
		height: 100vh;
		color: aliceblue;
	}
</style>
